<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Web app to scrape and track the progress of the Tanki Fund!">
    <title>Tanki Fund Tracker</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 style="text-align: center;">Tanki Fund Tracker</h1>
    <h2 style="text-align: center;">2022 - Tanki's 13th Birthday</h2>
    <div style="margin:auto; background-color:red; width: 75%; padding:0.5em;"><h3 style="text-align: center;">Service will be temporarily down/have inconsistent updates as I move to async.</h3></div>
    <div id="stats" style="display: flex; flex-flow: row wrap; justify-content: center; align-items: flex-start;">
    <div>
        <img style="display: block; margin-left: auto; margin-right:auto;" src="/plot.png" alt="fund">
    </div>
    <div>
    <h3 style="text-align: center;">Analytics</h3>
    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <th>Current Funds</th>
            <th>Change</th>
        </tr>
        <tr>
            <td>{{current_fund}}</td>
            <td>{{change}}</td>
        </tr>
    </table></div>
    </div>
    <br>
</body>
<footer style="text-align: center; padding:0.5em; margin-top:0.5em">
    Made by Person_Random.<br><br>Last updated {{last_upd}}
</footer>
</html>