<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Web app to scrape and track the progress of the Tanki Fund!">
    <title>Tanki Fund Tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
          }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>
<body>
<header>
    <h1 class="center">Tanki Fund Tracker</h1>
    <h2 class="center">2022 - Tanki's 13th Birthday</h2>
    <div class="news" style="background-color: skyblue;"><h3 style="text-align: center;">
        Service should be working properly now.</h3>
    </div>
    <div class="news"><h4>Updates and Changelog (Updated 5/29):</h4>
        <ul>
            <li>Added Log Regression and Analytics.</li>
            <li>Coming Soon: UI updates.</li>
        </ul>
    </div>
</header>
    <div id="stats" class="flexbox">
    <div>
        <img style="display: block; margin-left: auto; margin-right:auto;" src="/plot.png" alt="fund">
    </div>
    <div>
    <h3 class="center">Analytics</h3>
    <br>
    <strong>Current and Daily Changes</strong>
    <hr>
    <table class="info-tbl">
        <tr>
            <th>Current Funds</th>
            <th>Change</th>
        </tr>
        <tr>
            <td>{{current_fund}}</td>
            <td>{{change}}</td>
        </tr>
    </table>
    {{dtbl | safe}}
    <!-- <label for="model"><strong>Prediction Model:</strong></label>
    <select id="model">
      <option value="lin">Linear</option>
      <option value="poly" disabled>Polynomial</option>
    </select> -->
    <br>
    <strong>Linear Regression Model</strong>
    <hr>
    <table>
        <tr>
            <th>Next Checkpoint</th>
            <th>Est. Time to Next Check</th>
        </tr>
        <tr>
            <td>{{next_check[0]}}</td>
            <td>{{next_check[1]}}</td>
        </tr>
        <tr>
            <th>Est. End Fund (LinReg)</th>
            <th>All Milestones?</th>
        </tr>
        <tr>
            <td>{{end_miles[0]}}</td>
            <td>{{end_miles[1]}}</td>
        </tr>
    </table>
    <br>
    <strong>Log Transform Regression Model</strong>
    <hr>
    <table>
        <tr>
            <th>Next Checkpoint</th>
            <th>Est. Time to Next Check</th>
        </tr>
        <tr>
            <td>{{l_next_check[0]}}</td>
            <td>{{l_next_check[1]}}</td>
        </tr>
        <tr>
            <th>Est. End Fund (LogReg)</th>
            <th>All Milestones?</th>
        </tr>
        <tr>
            <td>{{l_end_miles[0]}}</td>
            <td>{{l_end_miles[1]}}</td>
        </tr>
    </table>
    <h3 class="center">Site Status</h3>
    <table class="info-tbl">
        <tr>
            <th>Status</th>
            <th>Last Updated</th>
        </tr>
        <tr>
            <td>{{status}}</td>
            <td>{{last_upd}}</td>
        </tr>
    </table>
    </div>
    </div>
    <br>
</body>
<div class="news"><h3 class="center">Interpreting Results</h3>
<h4>Linear Regresssion</h4>
Currently, we have a linear regression model ($y = mx + b$) to predict future results. Here's how to interpret the data:
<ul>
    <li>$m$: slope, or predicted increase over time. Measured in millions of Tankoins per day.</li>
    <li>$b$: intercept/offset, or number of Tankoins predicted to be in the fund at the start of the fund.</li>
    <li>$y$: predicted value at time $x$.</li>
</ul>
Given that the slope is gradually decreasing while the intercept is increasing, it means it may be best to use another model. Once more data is gathered, different prediction methods and polynomial regression models can be used to predict future results.
<h4>Log Transformed Linear Regresssion</h4>
Similar to linear regression, but since the points are trending towards being nonlinear, we can use a logarithmic transformation to make the data more linear. This is done by taking the logarithm of the data, specifically the $x$ variable.

We now end up with something like $y = m\log(x) + b$ and a graph that resembles a logarithmic curve. Interpreting the equation is similar to linear regression, but the predicted value takes the log of $x$ instead of $x$ in the linear model.
<h4>Note</h4>
Regression final predictions may not be accurate as early data was not captured. 
</div>
<br>
<footer style="text-align: center; padding:0.5em; margin-top:0.5em">
    Made by Person_Random.
</footer>
</html>