.centext {
    text-align: center;
}

.news {
    margin:auto;
    width: 75%;
    padding:0.5em;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.info-tbl {
    margin-left: auto;
    margin-right: auto;
}

.models {
    color: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    word-break: break-all;
    white-space: normal;
}

footer {
    padding:0.5em;
    margin-top:0.5em;
}